*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  /*width: 1140px;*/
  /*height: 534px;*/
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
display:flex;
gap: 30px;
width: 1140px;
height: 534px;
align-items: end;
margin-left: 30px;
margin-right: 30px;
margin-top: 133px;
margin-bottom: 133px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-top: 78px;
  margin-bottom: 16px;
}

.result__video{
/*width: 711px;
height: 386px;*/
height: 100%;
width: 100%;
/*object-fit:cover;*/
/*background-position: center;*/
object-fit:cover;
object-position:left;
cursor: pointer;
}


.search-form {
  display: flex;
  gap:40px;
  width: 711px;
  /*height: 54px;*/
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__textfield{
height: 27px;
width: 225px;
font-family:'Fira Sans Condensed';
font-size: 18px;
color:#fff;
background-color: transparent;
border-style:solid;
border-color: antiquewhite;
border-right: none;
border-left: none;
cursor: pointer;

}

.search-form__label:focus {


/*border: 10px solid #fff;*/
outline: 1px solid #FFFFFF;

}

.search-form__label:focus:not(:focus-visible) {

outline:none;

}







.search-form__fieldset {
  /*display: flex;
  flex-wrap: wrap;
  flex-basis: min-content;*/

 border: none;
}
/*
label > span:first-child {

position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}
*/

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


.search-form__fieldset-title {
font-weight: initial;
font-variant: initial;
font-family: Oswald;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 100%;
/*line-height: 22px;*/
letter-spacing: 0%;
margin-bottom: 5px;

}


.search-form__checkbox-list {
display: flex;
gap:15px;
width: fit-content;
/*flex-wrap: nowrap;*/


/*flex-basis: auto;

justify-content: flex-start;
align-items: flex-start;
font-family: Fira Sans Condensed;
font-weight: 400;
font-style: normal;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
gap: 12.5px;
padding-top: 0;
padding-bottom: 0;*/


}

.search-form__label {
display: flex;
align-items:center;
gap:4.5px;
/*align-items: center;*/
/*align-items: flex-start;
/*gap: 1.5px;*/
/*padding-top: 0;
padding-bottom: 0;*/
/*margin-bottom: 0;*/
cursor: pointer;
}
/*
.search-form__label:has(:focus-visible):not(.search-form__label-text,.search-form__checkbox) {


outline: 1px solid white;


}
*/
/*
.search-form__label:has(:focus-visible) .search-form__checkbox {

border: none;

}

.search-form__label:has(:focus-visible) .search-form__label-text {

border: none;

}
*/
.search-form__label-text{

/*line-height: 22px;*/
line-height: 18px;

}

.search-form__pseudo-checkbox {

padding: 1px;
width: 19px;
height: 19px;
border: 1px solid #FFFFFF;
}

.search-form__pseudo-checkbox::after {

content:"";
display: block;
background-color: white;
width: 100%;
height: 100%;
opacity: 0;
}


.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {

opacity: 1;

}


.search-form__label:hover .search-form__label-text {

  text-decoration: underline;
  text-underline-offset: 4px;
}




.search-form__textfield::placeholder {

font-weight: 400;
font-style: normal;
font-size: 18px;
/*line-height: 100%;*/
letter-spacing: 0%;
/*color: #FFFFFFB2;*/
color:rgb(255 255 255 / 0.7);
text-align: left;

}





.button {
display: flex;
/*flex-shrink: 0;*/
justify-content: center;
align-items: center; 
/*width: 194px;
height: 34px;*/
border: 1px solid #FFFFFF;
background-color: transparent;
/*font-weight: 700;
font-style: Bold;*/
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
color: #FFFFFF;

}

.button:active {

background-color:  #545050;

}

.button:hover {

text-decoration: underline;

}

.button:focus{

outline: 1px solid #FFFFFF;

}
.button:focus:not(:focus-visible) {

outline: none;


}

.search-form__submit-button {

width: 194px;
height: 34px;
align-self: flex-end;

}


.more-button {
height: 34px;
flex-grow: 1;

}

.content__list-container {
position: relative;
width: 399px;
height: 298px;
overflow: auto;
display: flex;
flex-wrap: wrap;
gap:30px;

}

.title {
font-family: Oswald;
font-weight: 700;
font-style: Bold;
font-size: 75px;
line-height: 94%;
letter-spacing: 0%;
text-transform: uppercase;
}

.content__card-link {
display: block;
text-decoration: none;
color: #FFFFFF;

}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 534px;
  width: 399px;
  /*overflow: auto;*/
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  
}

.content__list-item {
flex-grow: 1;
cursor: pointer;
/*padding-left: 3px;
padding-right: 3px;*/
padding-top: 1px;
padding-bottom: 1px;
}


.content__card-link_current {

background-color:  #545050;

}

.content__list-item:active {

background-color:  #545050;


}

.content__list-item:hover {

text-decoration: underline;

}


.content__list-item:focus {
outline-offset: 15px;
outline: 1px solid #FFFFFF;

}

.content__list-item:focus:not(:focus-visible) {

outline: none;

}



.content__video-card {

display: flex;
align-items: flex-start;
/*justify-content: space-around;*/
justify-content: space-between;
}


.content__video-card-title {
max-width: 200px;
font-family: Oswald;
font-weight: 700;
font-style: Bold;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
white-space: nowrap;
overflow: hidden ;
text-overflow: ellipsis;
}

.content__video-card-description {
max-width: 200px;
font-family: 'Fira Sans Condensed';
font-weight: 400;
font-style: normal;
font-size: 18px;
line-height: 16.2px;
letter-spacing: 0%;
-webkit-line-clamp: 4; 
line-clamp: 4;
display: -webkit-box; 
-webkit-box-orient: vertical; 
overflow: hidden;
}

.content__video-card-thumbnail {

width: 194px;
height: 103px;
object-fit:cover;
object-position:center;
}

.content__video-card-description-container {
padding-top: 6px;
flex-grow: 1;

}

.preloader {

position: absolute;


}
